@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>Please make a selection</h1>
        <ul>
            <li><strong>@Html.ActionLink("Get Concrete People", "ConcretePeople", "People")</strong></li>
        <li><strong>@Html.ActionLink("Get Abstract People", "AbstractPeople", "People")</strong></li>
    </ul>
    </div>
