@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Please make a selection</h1>
    <ul>
        <li><strong>@Html.ActionLink("Use Dynamic Reader", "UseDynamicReader", "People")</strong></li>
    </ul>
</div>
